* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;

  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: 600;
}

body {
  background-color: rgba(52, 57, 111, 0.909);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 1.7%;
  justify-content: space-between;
}

.prenom1 {
  position: relative;
  font-size: 45px;
  color: white;
  float: right;
}

.prenom2 {
  position: relative;
  font-size: 50px;
  left: 17%;
  color: white;
  float: right;
}
/*Conteneur des carrées*/
.box-container {
  position: relative;
  left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.box {
  background-color: blueviolet;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-image: url(../images/4957136.jpg);
  background-size: cover;
}

.box1 {
  background-color: rgb(198, 163, 231);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-image: url(../images/cerveau.png);
  background-size: cover;
}

.box2 {
  background-color: blueviolet;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  background-image: url(../images/score-eleve.png);
  background-size: cover;
}

.diffi {
  color: white;
  font-size: 30px;
  padding: 15px 15px;
}

@media screen and (max-width: 700px) {
  .item {
    display: flex;
    flex-direction: row;
    padding: 7% 0 0 4%;

    justify-content: space-between;
  }
  .prenom2 {
    display: none;
  }

  body {
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(35, 35, 35, 0.925);
  }

  .prenom1 {
    font-size: 36px;
  }

  * {
    display: 0;
    margin: 0;
    padding: 0;
  }

  .box1 {
    display: none;
  }

  .box,
  .box2 {
    position: relative;
    margin-right: 40px;
    margin-bottom: 5px;
    padding-left: 50px;

    justify-content: space-between;
  }
  .box2 {
    width: 65px;
    height: 60px;
  }

  .diffi {
    color: white;
    font-size: 30px;
  }

  /*Media pour le bloc*/

  .gauche {
    position: relative;
    display: block;
    bottom: 1rem;

    margin: auto;
  }

  .gauche > :not(.diffi) {
    position: relative;

    top: 1rem;
    margin: 0 15px 80px;
    padding: 0 0 0 29px;
  }

  .smalllinks-container {
    visibility: hidden;
  }

  .boite {
    position: relative;
    bottom: 7rem;
    display: flex;
    flex-direction: row;
  }

  .global {
    display: 0;
    padding: 0;
  }

  .smallbox-container {
    position: relative;
    display: block;
    margin: auto;
  }

  .smallbox {
    position: absolute;
    top: 50%;
    right: 10%;

    transform: translateY(-50%);

    display: flex;

    flex-direction: row;
    /* right: 220%; */

    justify-content: space-between;
  }

  .global > .gauche {
    background-color: rgba(248, 248, 248, 0);
    width: 400px;
  }

  .droit {
    position: absolute;
    transform: translateX(-100%);
    top: 12rem;
    display: block;
    margin: auto;
  }

  .contburger {
    position: relative;
  }

  .burger {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
  }
}

/*Bloc*/

.global {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 19px 30px 5px;
  justify-content: space-between;
}

.gauche {
  position: relative;
  background-color: rgb(37, 37, 37);
  height: 600px;
  width: 320px;
}

.droit {
  position: relative;
  left: 23rem;
  margin: auto;
  display: block;
  background-color: rgb(37, 37, 37);
  height: 600px;
  width: 80%;
  z-index: 4;
}

.smallbox-container {
  position: relative;
  display: flex;
  top: 20px;
  margin-top: 19px 0 15px 0;
  padding-left: 5px;
  flex-direction: column;
  justify-content: space-around;
}

.smalllinks-container {
  position: relative;
  display: flex;
  top: 20px;

  margin-top: 19px 0 15px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-around;
}

/* .smalllinks {
    position: relative;
    display: flex;
  
    color: white;
    flex-direction: column;
    text-decoration: none;
    padding: 10px 0 0 10px;
    justify-content: space-between;
  } */

.boxandlinks {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 0 5px 15px;
  justify-content: space-between;
  padding-left: 5px;

  float: left;
}

/*Petite box*/

.smallbox {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 70px;
  height: 70px;

  background-color: rgb(160, 147, 210);
  border-radius: 10px;
  margin: 5px;
  justify-content: space-between;
}

.smalllinkss {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  width: 180px;
  font-size: 25px;
  height: 70px;
  background-color: rgba(204, 248, 220, 0.648);
  text-decoration: none;
  padding: 10px 0 0 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.smallbox:nth-child(1) {
  position: relative;
  background-image: url(../images/maths.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.smallbox:nth-child(2) {
  position: relative;
  background-image: url(../images/chilli.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.smallbox:nth-child(3) {
  position: relative;
  background-image: url(../images/hard.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.smallbox:nth-child(4) {
  position: relative;
  background-image: url(../images/maths.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*navbarHamburger*/
nav {
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1b1b1b;
  width: 100%;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 5px;
  float: left;
}
nav label {
  color: rgb(255, 255, 255);
  font-size: 29px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: 600;
  display: block;
  cursor: pointer;
}
.button span {
  float: right;
  line-height: 40px;
  transition: 0.5s;
}
.button span.rotate {
  transform: rotate(-180deg);
}
nav ul {
  position: absolute;
  background: #a14d4d;
  list-style: none;
  top: 75px;
  left: 0;

  width: 100%;
  border-radius: 5px;
  display: none;
}
[id^="btn"]:checked + ul {
  display: block;
}
nav .menu:before {
  position: absolute;
  content: "";
  height: 100px;
  width: 20px;
  background: #1b1b1b;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
nav ul li {
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nav ul li label {
  font-size: 18px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
nav ul li a:hover,
nav ul li label:hover {
  color: rgb(250, 255, 255);
}
nav ul ul {
  position: static;
}
nav ul ul li {
  line-height: 30px;
  padding-left: 30px;

  border-bottom: none;
}
nav ul ul li a {
  color: #ffffff;
  font-size: 17px;
}

nav ul li span {
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
nav ul li span.rotate {
  transform: rotate(-180deg);
}
input {
  display: none;
}

.scroller {
  overflow-y: scroll;
  height: 700px;
  position: relative;
}

.containboutton {
  position: fixed;
  top: 80%;
  left: 45%;
  height: 62px;
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.123);
  background-color: #252a88;
  border-radius: 38% 62% 32% 68% / 32% 30% 70% 68%;
}

.containboutton:hover {
  background-color: #684ba8;
  cursor: pointer;
}
.textretour {
  text-align: center;
  position: relative;
  top: 0.8rem;
  font-size: 23px;
  color: white;
}

@media screen and (max-width: 600px) {
  * {
    display: 0;
    margin: 0;
  }

  .containboutton {
    position: fixed;
    top: 80%;
    left: 30%;
    height: 62px;
    width: 200px;

    background-color: #5c4196;
    border-radius: 120px;
    z-index: 10;
  }
}

.repondre {
  font-size: 40px;
  color: white;
  padding-left: 18px;
}

.repondreboite {
  border-radius: 10px;
  position: relative;
  background-color: #69b7b1bf;
  padding: 22px;
  width: 300px;
  display: block;
  margin: auto;
  word-wrap: break-word;
  height: 200px;
}

.message {
  max-width: 20px;
}
